.container {
  width: 100%;
  padding-top: var(--small-space);

  ul {
    list-style: none;
    padding-left: 0;

    li {
      margin-bottom: 2em;
      padding-bottom: 2em;
      border-bottom: 1px solid var(--beige-mid);
      h3:hover {
        text-underline-offset: 0.1em;
        text-decoration: underline;
      }
      a:hover {
        color: var(--black) !important;
      }
    }
  }

  h3 {
    padding-bottom: 0.5em;
  }

  p {
    //margin-bottom: 0.5em;
  }
}
