.employee {
  &:last-of-type p {
    margin-bottom: 0 !important;
  }

  p {
    margin-bottom: 0;
  }

  p a {
    display: inline-block;
    padding-bottom: 1em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }
}

.region {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-left: calc(-1 * var(--outer-margin));
  margin-right: calc(-1 * var(--outer-margin));

  @include mq($from: tablet) {
    margin-left: calc(-1 * var(--gutter));
    margin-right: calc(-1 * var(--gutter));
  }

  li {
    @include mq($from: tablet) {
      width: 50%;
    }
  }
}

.info {
  list-style: none;
  padding: 0;
  margin-bottom: 1rem;
}

.container {
  h3:first-of-type {
    padding-top: 1rem;
  }

  h3:not(:first-of-type) {
    padding-top: var(--small-space);
  }
}