.employee {
}

.region {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--gutter));
  margin-right: calc(-1 * var(--gutter));
  padding: 0;

  li {
    width: 50%;
  }
}

.container {
  h3 {
    padding-top: var(--small-space);
  }
}
