.container {
  width: 100%;
  padding-top: var(--small-space);

  ul {
    list-style: none;
    padding-left: 0;

    li {
      margin-bottom: 2em;
      padding-bottom: 2em;

      border-bottom: 1px solid var(--beige-mid);
    }
  }

  h2 {
    padding-bottom: 0.5em;
  }

  p {
    margin-bottom: 0em;
  }


}

.error {
  color: var(--red);
  width: 100%;
  margin-left: calc(-2 * var(--outer-margin));
  margin-right: calc(-2 * var(--outer-margin));
  margin-top: 1rem;
}