.content {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;
  min-height: 200vh;

  article {
    margin-left: var(--outer-margin);
    margin-right: var(--outer-margin);
    padding-bottom: var(--space);

    @include mq($from: tablet) {
      margin-left: calc(var(--total-outer-margin));
      margin-right: calc(var(--total-outer-margin));
      padding-left: calc(2 * var(--grid-unit));
      padding-right: calc(2 * var(--grid-unit));
    }

    @include mq($until: tablet) {
      padding-top: var(--navbar-height);
    }
  }

  &.nomargins {
    article {
      margin: 0;
      padding-left: 0;
      padding-right: 0;

      @include mq($from: tablet) {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}