.content {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;

  article {
    margin-left: var(--outer-margin);
    margin-right: var(--outer-margin);

    @include mq($from: tablet) {
      margin-left: calc(var(--total-outer-margin));
      margin-right: calc(var(--total-outer-margin));
      padding-top: var(--navbar-height);
      padding-left: calc(2 * var(--grid-unit));
      padding-right: calc(2 * var(--grid-unit));
      padding-bottom: var(--space);
    }
  }
}
