.content {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;
  background-color: green;

  article {
    padding: var(--navbar-height);
    padding-bottom: 0;
  }
}