.container {
  position: relative;
  max-width: 0;
}

.logo {
  position: sticky;
  z-index: 300;
  top: 0.8em;
  left: 0;
  margin: var(--outer-margin);
  margin-top: calc(-1 * var(--navbar-height));
  color: var(--black);
  white-space: pre;
  font-family: "Logo", arial;
  font-size: var(--logo-size);
  text-transform: uppercase;

  .vertical,
  .horizontal {
    position: absolute;
    top: 0;
    left: 0;
    color: var(--black);

    >a {
      line-height: 0;
      max-height: var(--logo-size);

    }
  }

  .vertical {
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    text-align: right;
    margin-top: -0.13em;

    a {
      color: var(--black) !important;
    }

  }

  .horizontal {
    text-align: left;
  }

  .space {
    visibility: hidden;
  }

  .region {
    color: transparent;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: var(--black);

    @include mq($from: tablet) {
      margin-left: 0.5rem;

      &.end {
        margin-left: 1.5rem;
      }
    }

    @include mq($until: tablet) {
      margin-left: 0.3rem;

      &.end {
        margin-left: 1.3rem;
      }
    }
  }

  @include mq($until: tablet) {
    margin-top: 0;
    position: fixed;

    &.end {
      margin-left: 1.3rem;
    }
  }
}