.container {

  form {
    margin-bottom: 2rem;

    input[type="text"],
    textarea,
    select,
    button {
      width: 100%;
    }

    button {
      margin-top: 2rem;
    }

    label {
      display: block;
      margin-bottom: 0.5rem;
    }

    .checkboxGroup {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      background-color: var(--beige-light);
      padding: 0.5rem;


      div {
        flex: 0 0 33.333%;
        white-space: pre;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 0.5rem;

        input {
          margin: 0;
          margin-right: 0.5rem;
        }

        label {
          margin: 0;
        }
      }
    }
  }

  .error {
    color: red;
    margin-top: -0.8rem;
    margin-bottom: 1rem;
    font-size: 0.7em;
  }

}