.background {
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  margin-left: calc((var(--full-margin) - var(--total-outer-margin)));
  //background-color: var(--beige-light);
  z-index: -1;

  &:before {
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.08;
    filter: grayscale(1);
    background-blend-mode: screen;
    background-image: url(https://www.datocms-assets.com/55629/1669325074-2-carolina-jonsson-mare-tranquillitatis_stillhetens-hav-3.jpg?ar64=Mzoy&auto=format&fit=crop&q=50&dpr=3);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
  }
}
