.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--gutter));
  margin-right: calc(-1 * var(--gutter));
  width: calc(100% + (2 * var(--gutter)));

  @include mq($from: tablet) {
    width: calc(100% + (2 * var(--grid-unit)) + (2 * var(--gutter)));
    margin-left: calc((-1 * var(--grid-unit)) - var(--gutter));
  }

  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;

  >li {
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    border-right: 1px solid var(--beige-mid);
  }

  &.two>li {

    width: 50%;

    &:nth-child(3n) {
      border-right: none;
    }

    @include mq($until: tablet) {
      width: 100%;

      &:nth-child(1n) {
        border-right: none;
      }
    }

  }

  &.three>li {
    width: 33.333%;

    &:nth-child(3n) {
      border-right: none;
    }

    @include mq($until: tablet) {
      width: 50%;

      &:nth-child(2n) {
        border-right: none;
      }
    }
  }

  hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: var(--gutter);
    margin-right: var(--gutter);

    &:last-child {
      display: none;
    }
  }
}