.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--gutter));
  margin-right: calc(-1 * var(--gutter));
  width: calc(100% + (2 * var(--gutter)));
  padding: 0;
  list-style: none;

  @include mq($from: tablet) {
    width: calc(100% + (2 * var(--grid-unit)) + (2 * var(--gutter)));
    margin-left: calc((-1 * var(--grid-unit)) - var(--gutter));
  }

  > li {
    border-right: 1px solid var(--beige-mid);

    @include mq($until: tablet) {
      margin-bottom: var(--gutter);
    }
  }

  &.two > li {
    width: 50%;

    @include mq($from: tablet) {
      &:nth-of-type(2n) {
        border-right: none;
      }
    }

    @include mq($until: tablet) {
      width: 100%;

      &:nth-child(1n) {
        border-right: none;
      }
    }
  }

  &.three > li {
    width: 33.333%;

    @include mq($from: tablet) {
      &:nth-of-type(3n) {
        border-right: none;
      }
    }

    @include mq($until: tablet) {
      width: 100%;

      &:nth-child(1n) {
        border-right: none;
      }
    }
  }

  hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: var(--gutter);
    margin-right: var(--gutter);

    &:last-child {
      display: none;
    }
  }
}
