.container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 0.7rem;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.anim {
  position: relative;
  div {
    position: absolute;
  }
  div:last-of-type {
    transform: rotate(90deg);
    transform-origin: center;
    animation: rotation 1.5s infinite ease-in-out;
  }
  div:first-of-type {
    transform: rotate(0deg);
    transform-origin: center;
    animation: rotation 1.5s infinite linear;
  }
  span {
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    background-color: var(--black);
    margin: 1.5rem;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
