.container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 0.7rem;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.anim {
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: var(--black);
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
