.logo {
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  margin: var(--outer-margin);
  margin-top: 0.8 em;
  color: var(--black);
  white-space: pre;
  font-family: "Logo", arial;
  font-size: var(--logo-size);

  .vertical,
  .horizontal {
    position: absolute;
    top: 0;
    left: 0;

    a {
      padding: 0;
      margin: 0;
      line-height: 0;
      max-height: var(--logo-size);
    }
  }

  .vertical {
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    text-align: right;
  }

  .horizontal {
    text-align: left;
  }

  .space {
    visibility: hidden;
  }
}
