.meta {
  border: 1px solid var(--beige-mid);
  padding: 0.6em;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: var(--small-space);

  ul {
    columns: 2;
    list-style: none;
    padding-left: 0;

    li {
      line-height: 2;

      span {
        color: var(--beige-dark);
        padding-right: 0.5em;

        @include mq($from: tablet) {
          width: 30%;
        }

        display: inline-block;
      }
    }
  }
}
