.more {
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;

  &:hover {
    .square {
      transform: translateX(-0.14em) rotate(45deg);
    }
  }

  .square {
    overflow: hidden;
    display: inline-block;
    background: var(--foreground);
    width: 0.4em;
    height: 0.4em;
    margin-right: 0.4em;
    margin-bottom: 0.1em;
    transition: all 0.1s;

    &.invert {
      background: var(--background);
    }
  }

  .invert,
  [data-theme='dark'] {
    color: var(--white) !important;
    width: 0.45em;
  }

}