.char {
  display: inline;
  position: relative;
  opacity: 0;
  //animation-name: show;
  animation-duration: 0s;
  animation-fill-mode: forwards;

  @keyframes show {
    to {
      opacity: 1;
    }
  }
}