.thumbnail {
  position: relative;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;

  .image {
    margin-bottom: 0.8em;
  }

  .picture {
    overflow: hidden;
    max-width: 100% !important;
    transition: left 0.2s ease-in-out;

    @include mq($from: tablet) {
      &:hover {
        left: 2.5rem;
      }
    }
  }

  .title {
    position: relative;
    display: flex;
    flex-direction: row;
    white-space: pre;
    min-height: 1.5rem;

    span.first {
      //Pajar More
      //overflow: hidden;
      //min-width: 100%;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    @include mq($until: tablet) {
      font-size: 0.75em;
    }

    &.vertical {
      position: absolute;
      writing-mode: vertical-rl;
      transform: rotate(360deg) translateY(calc(-100% - 0.8rem));
      text-align: right;
      span {
        overflow: hidden;
        min-width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    .more {
      display: inline;
      overflow: hidden;
      text-align: right;
      flex: 1 1 100%;
      min-height: 1rem;
      min-width: auto;
    }
  }
}
