.container {
  .intro {
    margin-bottom: var(--space);
  }

  > ul {
    @include mq($from: tablet) {
      margin-left: calc(-1 * var(--grid-unit) - var(--gutter));
      margin-right: calc(-1 * var(--grid-unit) - var(--gutter));
    }

    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    > li {
      display: flex;
      flex-direction: column;

      @include mq($from: tablet) {
        padding-right: var(--gutter);
        padding-left: var(--gutter);
      }

      @include mq($from: tablet) {
        border-right: 1px solid var(--beige-mid);
        flex: 0 0 50%;

        &:nth-of-type(even) {
          border-right: none;
        }
      }

      h3 {
        padding-top: 0.7em;
        padding-bottom: 0.5em;
      }

      button {
        margin-top: 1em;
        width: 100%;

        @include mq($until: tablet) {
          margin-bottom: var(--small-space);
        }
      }

      .text {
        flex: 1 1 auto;
      }

      > a > button {
        width: 100%;
      }
    }

    hr {
      //flex: 1 1 100%;
      margin-left: var(--gutter);
      margin-right: var(--gutter);
      background-color: var(--beige-mid);
      margin-bottom: var(--small-space);
      margin-top: var(--small-space);

      &:last-child {
        display: none;
      }
    }

    @include mq($until: tablet) {
      > li {
        flex: 0 0 100%;
      }

      hr {
        display: none;
      }
    }
  }
}
