.container {
  > ul {
    @include mq($from: tablet) {
      margin-left: calc(-1 * var(--grid-unit) - var(--gutter));
      margin-right: calc(-1 * var(--grid-unit) - var(--gutter));
    }
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    > li {
      @include mq($from: tablet) {
        padding-right: var(--gutter);
        padding-left: var(--gutter);
      }
      border-right: 1px solid var(--beige-mid);

      @include mq($from: tablet) {
        flex: 0 0 50%;
        &:nth-child(even) {
          border-right: none;
        }
      }

      h2 {
        padding-top: 0.7em;
        padding-bottom: 0.5em;
      }

      button {
        margin-top: 1em;
        width: 100%;
      }
    }
  }
}
