.meta {
  border: 1px solid var(--beige-mid);
  padding: 0.6em;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: var(--space);
  ul {
    columns: 2;
    list-style: none;
    padding-left: 0;
    li {
      line-height: 2;
      span {
        color: var(--beige-dark);
        padding-right: 0.5em;
        @include mq($from: tablet) {
          width: 30%;
        }
        display: inline-block;
      }
    }
  }
}

.related {
  padding-top: var(--space);
  padding-bottom: var(--space);
  position: relative;

  header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .background {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: calc(-1 * var(--outer-margin));
    width: calc(100% + var(--outer-margin));

    @include mq($from: tablet) {
      margin-left: calc((var(--full-margin) - var(--total-outer-margin)));
    }
    height: 100%;
    background: var(--beige-light);

    width: 100vw;
  }
}
