.filter {
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1.2rem;
  margin-bottom: var(--small-space);

  .background {
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    margin-left: calc(-1 * var(--outer-margin));
    margin-right: calc(-1 * var(--outer-margin));
    width: calc(100% + (var(--outer-margin) * 2));
    background-color: var(--beige-light);
    @include mq($from: tablet) {
      width: 100vw;
      margin-left: calc((var(--full-margin) - var(--total-outer-margin)));
    }
  }

  ul {
    list-style: none;
    display: flex;
    padding-left: 0 !important;

    li {
      padding-right: 1em;
    }
  }
}

.container {
  margin-left: calc(-1 * var(--gutter));
  margin-right: calc(-1 * var(--gutter));
  width: calc(100% + (2 * var(--gutter)));

  @include mq($from: tablet) {
    width: calc(100% + (2 * var(--grid-unit)) + (2 * var(--gutter)));
    margin-left: calc((-1 * var(--grid-unit)) - var(--gutter));
  }
  display: flex;
  flex-wrap: wrap;

  .thumb {
    width: 50%;
    @include mq($from: tablet) {
      width: 33.33%;
    }
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    border-right: 1px solid var(--beige-mid);

    @include mq($until: tablet) {
      &:nth-child(2n) {
        border-right: none;
      }
    }

    @include mq($from: tablet) {
      &:nth-child(3n) {
        border-right: none;
      }
    }

    .image {
      margin-bottom: 0.5em;
    }
  }

  hr {
    margin-top: 2rem;
    margin-left: var(--gutter);
    margin-right: var(--gutter);
  }
}
