.editBox {
  position: absolute;
  display: none;
  flex-direction: column;
  padding: calc(var(--small-space) / 4);
  top: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;

  &.show {
    display: flex;
  }

  button {
    margin: 1rem;
    border: 0;

    &.delete {
      color: red;
      margin-left: 0;
      &:hover {
        background: red;
        color: var(--white);
      }
    }
  }

  .toolbar {
    display: flex;
    flex-direction: row;

    .edit {
      display: flex;

      flex-direction: row;
      align-items: center;

      color: var(--white);
      flex: 1 1 100%;

      div {
        margin-right: 1rem;
      }
    }

    .order {
      display: flex;
      flex-direction: row;
      color: var(--white);
      button {
        white-space: pre;

        &:last-child {
          margin-left: 0;
        }
      }
    }
  }
}
