.container {
  position: relative;
  min-width: 4em;

  ul {
    list-style: none;
    display: none;
    flex-direction: column !important;

    z-index: 10;
    padding: 0;
    top: 1rem;
    left: 0;
    background-color: var(--white);

    &.show {
      display: flex;
    }

    a {
      li {
        &[data-selected="true"] {
          color: rgb(245, 27, 223);
        }
      }
    }
  }

  .selected {
    position: relative;
    cursor: pointer;
  }
}