.footer {
  width: 100%;
  background-color: var(--black);
  color: var(--white);
  padding: var(--outer-margin);
  @include mq($from: wide) {
    padding-left: calc((var(--outer-margin) * 2) + var(--logo-size));
    padding-right: calc((var(--outer-margin) * 2) + var(--logo-size));
  }
  padding-top: var(--small-space);
  padding-bottom: var(--small-space);

  a {
    color: var(--white);
  }

  section {
    display: flex;
    flex-direction: row;
    margin-bottom: var(--small-space);
  }

  .menu {
    display: none;
    @include mq($from: desktop) {
      display: flex;
    }
  }

  nav {
    width: 100%;

    > ul {
      display: flex;
      flex-direction: row;
      list-style: none;

      > li {
        width: calc(var(--grid-unit) * 2);
        line-height: var(--line-height-nav);

        ul {
          list-style: none;
        }
      }
    }
  }

  .about,
  .social,
  .copyright {
    line-height: var(--line-height);
    @include mq($until: tablet) {
      display: block;
    }
    div {
      @include mq($from: tablet) {
        width: calc(var(--grid-unit) * 6);
        span {
          padding-right: 1em;
        }
        &:first-child {
          padding-right: 2em;
        }
      }
    }
  }

  .support {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
  }
}
