.menu {
  position: fixed;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  top: 0px;
  left: 0;
  z-index: 100;
  width: 100%;
  min-height: var(--navbar-height);
  padding-left: calc(var(--outer-margin) + calc(var(--grid-unit) * 2));
  padding-right: var(--outer-margin);
  background-color: var(--white);

  >ul {
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: var(--outer-margin);
    cursor: pointer;

    >li {
      flex: 0 0;
      margin-right: 1rem;
      white-space: pre;
      z-index: 100;

      &:nth-last-child(2) {
        flex: 1 1 100%;
      }

      &:last-child {
        margin-right: 0;
      }

      &.district {
        display: flex;
        align-items: center;

        img {
          width: 7px;
          height: 4px;
        }
      }
    }
  }

  .sub {
    list-style: none;
    display: none;
    flex-direction: column;
    z-index: 101;
    margin-left: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    white-space: pre;

    &.show {
      display: flex;
    }

    >li {
      pointer-events: all;
    }

  }

}