.menu {
  position: fixed;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  top: 0px;
  left: 0;
  z-index: 100;
  width: 100%;
  min-height: var(--navbar-height);
  padding-left: calc(2 * var(--grid-unit) + var(--total-outer-margin));
  padding-right: var(--outer-margin);
  background-color: var(--white);
  opacity: 1;
  transition: transform 0.4s ease-out;
  transform: translateY(-100%);

  &.show {
    transform: translateY(0%);
  }

  @include mq($until: tablet) {
    display: none;
  }

  a {
    color: var(--black);
    &:hover {
      color: var(--beige-dark);
    }
  }

  > ul {
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 1.7rem;

    > li {
      flex: 0 0;
      margin-right: 1rem;
      white-space: pre;
      z-index: 100;
      cursor: pointer;
      &:hover {
        color: var(--beige-dark);
      }

      &:nth-last-child(2) {
        flex: 1 1 100%;
      }

      &:last-child {
        margin-right: 0;
      }

      &.region {
        display: flex;
        align-items: center;

        img {
          width: 7px;
          height: 4px;
        }
      }
    }
  }

  .sub {
    list-style: none;
    display: none;
    flex-direction: column;
    z-index: 101;
    margin-left: 0;
    padding-top: 1rem;
    padding-bottom: 1.7rem;
    width: 100%;
    white-space: pre;
    line-height: var(--line-height-nav);

    &.show {
      display: flex;
    }

    > li {
      pointer-events: all;
    }
  }
}
