.hamburger {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  right: 0;
  margin-right: calc(var(--outer-margin) - 12px);
  color: #000;
  z-index: 300;

  @include mq($from: tablet, $until: nav-break) {
    top: 20px;
  }
}

.mobileMenu {
  position: fixed;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  max-height: calc(100vh - calc(100vh - 100%));
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  z-index: 200;
  font-size: 1rem;

}

@include mq($from: tablet) {

  .mobileMenu,
  .hamburger {
    display: none;
  }

}