.container{
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 10px;
  background-color: $white;
  color: $black;
  div{
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    &:last-child{
      flex: 0 0 auto;
    }
  }
  .menu{
    ul{
      list-style: none;
      display: flex;
      flex-direction: row;
      li{
        margin-right: 20px;
        cursor: pointer;
      }
    }
  }
  .districts{
    margin-left:20px;
  } 
}