.container {
  position: relative;
  min-width: 4em;

  &:hover {
    color: var(--beige-dark);
  }

  ul {
    display: none;
    position: absolute;
    flex-direction: column !important;
    list-style: none;
    width: 400px;
    z-index: 10;
    padding: 0.6rem;
    padding-left: var(--outer-margin);
    padding-bottom: 1.7em;
    top: 1rem;
    left: calc(-1 * var(--outer-margin));
    background-color: var(--white);

    &.show {
      display: flex;
    }

    li {
      line-height: var(--line-height-nav);

      &[data-selected="true"] {
        a {
          color: var(--beige-dark);
        }
      }
    }
  }

  .selected {
    line-height: 0;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    &.open > img {
      transform: rotate(-180deg);
    }
  }

  .compass {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--black);
    color: var(--white);
    padding: 1em;
    margin-right: -1em;
    display: none;

    span {
      padding: 0.8em;
      line-height: 1;

      &.all {
        border-top: 1px solid var(--beige-light);
        display: inline-block;
        margin-top: 0.8em;
        padding-top: 1.2em;
        padding-bottom: 0.5em;
        width: 100%;
        text-align: center;
      }
    }
    div {
      padding-top: 1.5em;
      padding-bottom: 1.5em;
    }
  }
}
