.container {
  position: relative;
  min-width: 4em;

  &:hover {
    color: var(--beige-dark);
  }

  ul {
    display: none;
    position: absolute;
    flex-direction: column !important;
    list-style: none;
    width: 400px;
    z-index: 10;
    padding: 0.6rem;
    padding-left: var(--outer-margin);
    padding-bottom: 1.7em;
    top: 1rem;
    left: calc(-1 * var(--outer-margin));
    background-color: var(--white);

    &.show {
      display: flex;
    }

    li {
      line-height: var(--line-height-nav);
      &[data-selected="true"] {
        a {
          color: rgb(245, 27, 223);
        }
      }
    }
  }

  .selected {
    line-height: 0;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;

    &.open > img {
      transform: rotate(-180deg);
    }
  }
}
