.container {
  position: relative;
  min-width: 4em;

  &:hover {
    color: var(--beige-dark);
  }

  .selected {
    line-height: 0;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    &.open > img {
      transform: rotate(-180deg);
    }
  }

  .compass {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 1.5rem;
    right: 0;
    background: var(--white);
    color: var(--black);
    border: 1px solid var(--beige-mid);
    padding-top: 1.2em;
    padding-bottom: 1em;
    padding-left: 1.2em;
    padding-right: 1.2em;
    width: 11.4em;

    &.show {
      display: flex;
    }

    a {
      color: var(--black);

      &:hover {
        color: var(--beige-dark);
      }
    }

    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      text-align: center;

      &.mid {
        padding-top: 1.5em;
        padding-bottom: 1.5em;
        span:first-of-type {
          text-align: left;
        }
        span:last-of-type {
          text-align: right;
        }
      }

      &.all {
        border-top: 1px solid var(--beige-mid);
        display: inline-block;
        margin-top: 1.2em;
        padding-top: 0.8em;
        width: 100%;
      }

      span {
        line-height: 1;
        flex: 0 0 33.3333%;
        text-align: center;
        width: 33.3333%;
      }
    }
  }
}
