.gallery {
  position: relative;
  max-width: 100%;
  min-width: 100%;
  margin-top: var(--space);
  margin-bottom: var(--space);
  //margin-left: calc(-1 * var(--outer-margin));
  max-width: calc(100% + (var(--outer-margin)));
  margin-right: calc(-1 * (var(--outer-margin) * 2));

  @include mq($from: tablet) {
    margin-left: calc(-1 * var(--grid-unit));
    max-width: calc(100% + (var(--grid-unit) * 2));
    margin-right: calc(-1 * var(--grid-unit));
  }

  .next {
    @include mq($until: tablet) {
      display: none;
    }

    width: 3em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: calc(50% - var(--space));
    right: 0;
    z-index: 1000;
    margin-right: calc(-1 * var(--grid-unit));
    cursor: pointer;
  }

  .swiper {
    position: relative;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    user-select: none;
    cursor: pointer;

    >div {
      display: flex;
      flex-direction: row;

      .slide {
        position: relative;
        width: calc((100% - (var(--gutter) * 2)) / 3);
        padding-right: var(--gutter);
        //max-height: 20vw;

        >figure {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          cursor: pointer;

          figcaption {
            flex: 1 1 100%;

            p {
              margin: 0
            }
          }

          .image {
            //min-height: 20vw;
            //max-height: 20vw;
          }
        }
      }
    }
  }
}