.container {
  color: var(--white);
  margin-top: var(--space);

  figure {
    position: relative;

    .image {
      @include mq($from: tablet) {
        min-width: calc(100% - (2 * var(--full-margin)));
        margin-right: var(--full-margin);
        margin-left: var(--full-margin);
        max-width: none;
        max-height: calc(100vh - (2 * var(--navbar-height)));
      }
    }

    figcaption {
      position: absolute;
      top: var(--small-space);
      left: 0;
      width: 100%;
      height: 100%;

      a {
        color: var(--white);
      }
    }
  }
}
