.container {
  margin-top: var(--space);
  @include mq($from: tablet) {
    margin-left: calc(-1 * var(--grid-unit));
    margin-right: calc(-1 * var(--grid-unit));
  }

  ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;

    li {
      width: 50%;

      &:first-of-type {
        padding-right: var(--gutter);
        border-right: 1px solid var(--beige-mid);
      }

      &:last-of-type {
        padding-left: var(--gutter);
      }
    }
  }
}
