.container {
  figure[data-editable="true"] {
    &:hover {
      filter: grayscale(1);
      cursor: pointer;
    }
  }

  h2 {
    padding-top: 0.8em;
  }

  .addSection {
    width: 100%;
    margin-bottom: var(--space);
  }
}
