.container {
  width: 100%;
  position:relative;
}
.header{
  height: 100vh;
  width: 100%;
  background-color: #000;
  color:#fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.block {
  display: flex;
  align-items: flex-start;
  font-size: 30px;
  min-height: 100vh;
  width:100%;
  position:relative;
  overflow: hidden;
  &:nth-child(odd){
    background-color: green;
  }
  &:nth-child(even){
    background-color:hotpink;
  }
  &.center{
    align-items: center;
    justify-content: center;
  }
  .status{
    position: absolute;
    text-align: right;
    top:0px;
    right: 0px;
    margin:5px;
    font-size: 11px;
    color:#fff;
    &.middle{
      top:unset;
      bottom:unset;
    }
    &.out{
      top:unset;
      bottom:0;
    }
  }
  .box{
    display: flex;
    background-color: indigo;
    width:100%;
    
    border-radius: 0px;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color:#fff;
    transform: translateX(-100%);
    &.in{
      animation: boxin 0.4s linear forwards;
    }
    &.out{
      animation: boxout 0.4s linear forwards;
    }
  }

  
}

@keyframes boxin {
  from{
    transform: translateX(-100%);
  }
  to{
    transform: translateX(0%);
  }
}
@keyframes boxout {
  from{
    transform: translateX(0%);
  }
  to{
    transform: translateX(100%);
  }
}
@keyframes boxreset {
  to{
    transform: translateX(0%);
  }
}